
<div class="container">
  <h1 class="text-center" id="text_question">{{question.content}}</h1>
  <h3>{{{totalVote}}} Vote</h3>
<form method="post">
    <div class="row text-center" id="btn_answer">
      <div style="width:{{no}}%; background-color:red;float:left;">
          {{no}}%
          <span class="glyphicon glyphicon-thumbs-down"></span>           
      </div>
      <div  style="width:{{yes}}%;background-color:blue;float:left">
           {{yes}}%
            <span class="glyphicon glyphicon-thumbs-up"></span>
      </div>
    </div>
</form>
</div>

<a href="/" style="display: flex; align-items: center;justify-content: center;"><button>Cau Hoi khac</button></a>
